

.messages-section {
    flex-shrink: 0;
    padding-bottom: 32px;
    background-color: var(--projects-section);
    margin-left: 24px;
    flex: 1;
    width: 100%;
    border-radius: 30px;
    position: relative;
    overflow: auto;
    transition: all 300ms cubic-bezier(0.19, 1, 0.56, 1);
    padding-left: 250px;
    
    .messages-close {
      position: absolute;
      top: 12px;
      right: 12px;
      z-index: 3;
      border: none;
      background-color: transparent;
      color: var(--main-color);
      display: none;
    }
    
    &.show {
      transform: translateX(0);
      opacity: 1;
      margin-left: 0;
    }
    
    .projects-section-header {
      position: sticky;
      top: 0;
      z-index: 1;
      padding: 32px 24px 0 24px;
      background-color:  var(--projects-section);
    }
  }
  
  .message-box {
    border-top: 1px solid var(--message-box-border);
    padding: 16px;
    display: flex;
    align-items: flex-start;
    width: 100%;
    
    &:hover {
      background-color: var(--message-box-hover);
      border-top-color: var(--link-color-hover);
      
      + .message-box {
        border-top-color: var(--link-color-hover);
      }
    }
    
    img {
      border-radius: 50%;
      object-fit: cover;
      width: 40px;
      height: 40px;
    }
  }
  
  .message-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
     .name {
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
      color: var(--main-color);
       margin: 0;
    }
  }
  
  .message-content {
    padding-left: 16px;
    width: 100%;
  }
  
  .star-checkbox {
    input {
      opacity: 0;
      position: absolute;
      width: 0;
      height: 0;
    }
    
    label {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    
    .dark & {
      color: var(--secondary-color);
      
      
      
      input:checked + label {
        color: var(--star);
      }
    }
    
    input:checked + label svg {
      fill: var(--star);
      transition: .2s;
    }
  }
  
  .message-line {
    font-size: 14px;
    line-height: 20px;
    margin: 8px 0;
    color: var(--secondary-color);
    opacity: .7;
    
    &.time {
      text-align: right;
      margin-bottom: 0;
    }
  }
  
  .project-boxes {
    margin: 0 -8px;
    overflow-y: auto;
    
    &.jsGridView {
      display: flex;
      flex-wrap: wrap;
      
      .project-box-wrapper {
        width: 33.3%;
      }
    }
  
    &.jsListView {
        .project-box {
          display: flex;
          border-radius: 10px;
          position: relative;
          > * {
            margin-right: 24px;
          }
        }
        
        .more-wrapper {
          position: absolute;
          right: 16px;
          top: 16px;
        }
        
        .project-box-content-header {
          order: 1;
          max-width: 120px;
        }
        
        .project-box-header {
          order: 2;
        }
        
        .project-box-footer {
          order: 3;
          padding-top: 0;
          flex-direction: column;
          justify-content: flex-start;
        }
        
        .project-box-footer:after {
          display: none;
        }
        
        .participants {
          margin-bottom: 8px;
        }
        
        .project-box-content-header p {
          text-align: left;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        
        .project-box-header > span {
          position: absolute;
          bottom: 16px;
          left: 16px;
          font-size: 12px;
        }
        
        .box-progress-wrapper {
          order: 3;
          flex: 1;
        }
      }
    }  